body {
    direction: rtl;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.text1 {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    margin: 0;
    width: max-content;
    font-family: "Assistant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: bolder;
    color: white;
    /*mix-blend-mode: screen;*/
}

@media screen and (max-width: 800px) {
    .text1 {
        font-size: 50px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .text1 {
        margin-right: 300px;
        font-size: 40px;
    }
}